spring.application.name=Backend
#your mongo db url (from MongoDB Atlas or Local)
spring.data.mongodb.uri=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/?appName=appname
spring.data.mongodb.database=dbname